<footer>
  <div class="container mx-auto"></div>
</footer>
<footer class="footer">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8 p-4">
    <div class="footer-brand flex flex-col gap-4">
      <h2 class="logo text-2xl font-bold">
        Luxe<span class="text-secondary">Estates</span>
      </h2>
      <p class="text-[#fbfaf9b3]">
        Your premier destination for luxury real estate. We connect exceptional
        properties with discerning buyers who appreciate the finer things in
        life.
      </p>
      <ul class="footer-contact flex flex-col gap-3">
        <li>
          <span class="pe-2 text-secondary">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          123 Luxury Lane, Beverly Hills, CA 90210
        </li>
        <li>
          <span class="pe-2 text-secondary"><i class="fas fa-phone"></i> </span
          >+1 (234) 567-890
        </li>
        <li>
          <span class="pe-2 text-secondary"
            ><i class="fa-regular fa-envelope"></i
          ></span>
          info&#64;luxeestates.com
        </li>
      </ul>
    </div>
    <div class="footer-social">
      <h3 class="text-[18px] mb-4">Links</h3>

      <div class="links flex md:flex-col gap-3">
        <a
          class="w-fit"
          href="https://www.linkedin.com/in/mostafa-yahia-41867b226"
          target="_blank"
          aria-label="LinkedIn"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          class="w-fit"
          href="https://github.com/mostafa0yehya?tab=repositories"
          target="_blank"
          aria-label="Twitter"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a
          class="w-fit"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=mostafayehya915@gmail.com"
          target="_blank"
          aria-label="email"
        >
          <i class="fa-regular fa-envelope"></i>
        </a>
        <a class="w-fit" aria-label="Facebook">
          <i class="fa-brands fa-facebook-f"></i>
        </a>
      </div>
    </div>
    <div class="footer-links">
      <h3 class="text-[18px] mb-4">Navigation</h3>
      <ul class="flex md:flex-col gap-3">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/properties">Buy</a></li>
        <li><a routerLink="/compare">Compare</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">© 2025 Luxe Estates. All rights reserved.</div>
</footer>
