.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(/images/hero-image.jfif);
  background-position: center;
  background-size: cover;
}

.layer .text {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #f97316;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.property {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-footer {
  padding-top: 20px;
  border-top: 1px solid #f1f1f1;
}
.cards-column {
  overflow: hidden;
  position: relative;
}

.card-slider {
  animation: loopDown 20s linear infinite;
}

@keyframes loopDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.cards-column.images {
  mask-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 50%,
    hsla(0, 0%, 100%, 0)
  );
}
@media (max-width: 450px) {
  .cards-column {
    height: 500px;
  }
}
@media (min-width: 451px) {
  .cards-column {
    height: 420px;
  }
}
@media (min-width: 768px) {
  .cards-column {
    height: 580px;
  }
}
@media (min-width: 960px) {
  .cards-column {
    height: 530px;
  }
}
@media (min-width: 1024px) {
  .cards-column {
    height: 500px;
  }
}

@media (min-width: 1280px) {
  .cards-column {
    height: 460px;
  }
}
.property-types {
  background: linear-gradient(135deg, #061a4d 0, #0a2463 100%);
}
/* .property-types-head::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #fff;
  bottom: -15px;
} */
.typeCard {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #ffffff33;
  transition: 0.3s all;
}
.typeCard:hover {
  transform: translateY(-10px);
  background-color: #ffffff26;
}
.typeIcon {
  transition: 0.3s all;
}
.typeCard:hover .typeIcon {
  transform: scale(1.1) rotate(5deg);
  box-shadow: 0 25px 50px -12px rgba(15, 23, 42, 0.25);
}
.special-properties .property-types-head::before {
  background-color: black;
}

/* swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

swiper-container {
  width: 100%;
  height: 530px;
  margin: 35px 0;
}
.statistics {
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%),
    url(/images/photo-1486406146926-c627a92ad1ab.jfif);

  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}
.statistics .icon {
  display: block;
  font-size: 24px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f973164d;
  border-radius: 1000px;
}
.stay-updated-section .icon {
  padding: 20px;
  border-radius: 1000px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.223);
  font-size: 30px;
}
.animated-hero {
  animation: up-down 1s infinite ease-in-out;
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
