@import "tailwindcss";
@import "primeicons/primeicons.css";
@custom-variant dark (&:where(.dark, .dark *));

* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.dark body {
  background-color: var(--color-gray-900);
}
h1,
h2,
.head,
.logo {
  font-family: "Playfair Display", serif;
}
a,
button {
  cursor: pointer;
}

.container {
  @media (width >= 48rem) {
    max-width: 90%;
  }
}
@theme {
  --color-head: #0a2463;
  --color-main: #061a4d;
  --color-second: #1f242e;
  --color-secondary: #f97316;
  --color-secondary-hover: #f46b09;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.heading .head-title {
  line-height: 1.05;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 36px;
  position: relative;
}
.heading .head-title .title-special {
  color: #f97316;
}
.heading .head-text {
  opacity: 70%;
  text-align: center;
}

.heading .head-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #f97316;
  bottom: -15px;
}
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  height: 400px;
}

/*dark mode for header*/
.dark header a:hover {
  color: white !important;
}
.dark header a.active {
  color: white;
}
/*hero*/
.dark .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/hero-image.jfif) !important;
  background-position: center !important;
  background-size: cover !important;
}
/*explore cities*/
.dark .p-tablist-tab-list,
.dark .p-tabpanels.p-component {
  background-color: var(--color-gray-900);
}
/*questions*/
.dark .p-accordioncontent-content {
  background-color: var(--color-gray-400);
  color: white;
}

/*to top button*/
.dark .p-ripple.p-button.p-component.p-scrolltop {
  background-color: var(--color-secondary);
  z-index: 100000;
}
