@import "tailwindcss";
* {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
h1,
h2,
.head,
.logo {
  font-family: "Playfair Display", serif;
}
a,
button {
  cursor: pointer;
}

.container {
  @media (width >= 48rem) {
    max-width: 90%;
  }
}
@theme {
  --color-head: #0a2463;
  --color-main: #061a4d;
  --color-second: #1f242e;
  --color-secondary: #f97316;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.heading .head-title {
  line-height: 1.05;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 36px;
  position: relative;
}
.heading .head-title .title-special {
  color: #f97316;
}
.heading .head-text {
  opacity: 70%;
  text-align: center;
}

.heading .head-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 2px;
  background-color: #f97316;
  bottom: -15px;
}
