<header class="relative bg-white">
  <div class="container mx-auto flex justify-between items-center py-4 px-4">
    <a class="logo block text-head text-3xl font-bold"
      ><span><i class="fa-regular fa-house"></i></span>
      <span> LuxeEstate</span>
    </a>
    <ul class="links items-center justify-between hidden md:flex xl:w-[30%]">
      <li>
        <a
          routerLink="/home"
          class="me-5 text-text text-[18px]"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li>
        <a
          class="me-5 text-second text-[18px]"
          routerLink="/properties"
          routerLinkActive="active"
          >Buy</a
        >
      </li>
      <li>
        <a
          class="me-5 text-second text-[18px]"
          routerLinkActive="active"
          routerLink="/compare"
          >Compare</a
        >
      </li>
      <li>
        <a class="me-5 text-second text-[18px]" routerLinkActive="active"
          >Agents</a
        >
      </li>
      <li>
        <a
          class="me-5 text-second text-[18px]"
          routerLinkActive="active"
          routerLink="/prices"
          >Prices</a
        >
      </li>
    </ul>
  </div>
</header>
